/* 
    Document   : RegistroCliente
    Created on : 29-nov-2012, 0:16:08
    Author     : Federico
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.contactoEmpresa
{
    visibility:hidden;
}

