/* 
    Document   : Errores
    Created on : 26-nov-2012, 21:54:52
    Author     : Federico
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.errorEntrada
{
    border-width: 2px !important;
    border-color: #FF0000 !important;
}

.mensajeErrorEntrada
{
    color: #FF0000 !important;
}
