/* 
    Document   : EstructuraDePagina
    Created on : 04-sep-2012, 21:15:31
    Author     : Federico
    Description:
        Purpose of the stylesheet follows.
*/


#Contenedor {
  /* # la almoadilla aplica el estilo a los tag html con ese id */
  margin: 0 auto;
  text-align:left;
  /*width:780px; /* para 800 x 600 */
  width: 100%;
  height: 25%;
 }
 
 #Menu {
  float: right;
  width: 20%;
 }

 #Contenido {
  float: left;
  width: 75%;
 }


